.galleryItem {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 20rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
	max-height: 450px;
	border-radius: 5px;
	position: relative;
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: fill;
	min-height: 450px;
	transition: transform 400ms ease-out;
}
.galleryItem:hover img {
	transform: scale(1.15);
}
.galleryItem:hover .cardContent {
	visibility: visible;
}

.cardContent {
	position: absolute;
	top: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	visibility: collapse;
	background-color: rgba(37, 37, 37, 0.527);
	width: 100%;
	min-height: 450px;
	justify-content: center;
}

.title {
	font-size: 1rem;
}
.favBtn {
	background-color: transparent;
	border-radius: 28px;
	border: 1px solid #ffffff;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 1rem;
	padding: 14px 19px;
	text-decoration: none;
	font-weight: bold;
	margin-bottom: 0.5rem;
	margin-top: 2.5rem;
}
.customLine {
	width: 10vw;
	height: 3px;
	background-color: rgb(255, 255, 255);
	margin: 0;
}
.views {
	margin: 0.5rem;
	font-size: 1rem;
}
.favBtn:hover,
.favBtn:active {
	background-color: rgba(77, 77, 77, 0.466);
}
@media (min-width: 800px) {
	.galleryItem {
		flex: 1 0 24rem;
	}
	.title {
		font-size: 1.5rem;
	}
}
