.card {
	margin: 1rem;

	flex-basis: 25%;
	padding: '3rem';
	background-repeat: 'no-repeat';
	background-position: 'bottom center';
	background-size: 'cover';
	background-color: 'red';
	border-radius: 15px;
}

.cardContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	visibility: collapse;
	padding: 2rem;
	border-radius: 15px;
	background-color: rgba(37, 37, 37, 0.527);
	height: 100%;
}
.card:hover .cardContent {
	visibility: visible;
}
.favBtn {
	background-color: transparent;
	border-radius: 28px;
	border: 1px solid #ffffff;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 28px;
	padding: 14px 19px;
	text-decoration: none;
	font-weight: bold;
}
.favBtn:hover {
	background-color: rgba(77, 77, 77, 0.466);
}
.customLine {
	width: 10vw;
	height: 3px;
	background-color: rgb(255, 255, 255);
	margin: 0;
}
